@import "../variaveis.scss";

table {
  width: 100%;

  th {
    padding: 15px 0;
    text-align: center;
    color: $color;
    border-bottom: 1px solid rgba(151, 186, 219, 0.5);
    font-size: 14px;
    .setas {
      margin: 0 0 0 7px;
      .setaCima {
        vertical-align: text-top;
        font-size: 7px;
      }
      .setaBaixo {
        vertical-align: text-bottom;
        font-size: 7px;
      }
    }
  }
  tr {
    text-align: center;
    td {
      font-size: 14px;
      padding: 15px 0;
    }
  }
}
