@import "../../variaveis.scss";

.select__control {
    display: flex;
    border: solid 1px #2e75b6;
    border-radius: 10px;
    height: 30px;
}

.select__indicator-separator {
    visibility: hidden;
}

.select__indicators {
    padding: 0 5px 0 0;
}

.icon-calendario {
    position: absolute;
    top: 35px; 
    right: 22px;
}

.BuscarChamados_data__2ycY1 {
    padding: 0 0 0 10px;
}

.BuscarChamados_data__2ycY1:focus {
    outline: none;
}