@import "../../variaveis.scss";

.select__control {
    display: flex;
    border: solid 1px #2e75b6;
    border-radius: 10px;
    height: 30px;
}

.select__indicator-separator {
    visibility: hidden;
}