.autenticacao {
  background: url("../../assets/images/fundo.jpg") no-repeat center center fixed;
  height: 100vh;
  min-width: 100px;
  position: relative;
  background: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 450px;
    width: 700px;
    border-radius: 5px;
    margin: 75px 0 33px 0;
    color: #2E75B6;
    flex-direction: column;
    .imgRadius {
      margin: 30px auto 15px;
      height: 48.047px ;
      width: 123px;
    }
  }
    .footer{
      display: flex;
      align-items: center;
      flex-direction: column;
      p{
        font-size: 8px;
        color: #ffffff;
        margin: 18px 0px 8px;
      }
      .logoFooter {
    
        margin-left: 0;
        height: 47px;
        width: 56px;
        
        
      } 
    }


}
