.autenticacao {
  background: url("../../assets/images/fundo.jpg") no-repeat center center fixed;
  height: 100vh;
  min-width: 100px;
  position: relative;
  background: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .form {
    display: flex;
    justify-content: center;
    background: #ffffff;
    height: 450px;
    width: 700px;
    border-radius: 5px;
    margin: 75px 0 33px 0;

    .imgRadius {
      margin: 30px 0 0;
      height: 48.047px ;
      width: 123px;
    }
  }
    .footer{
      display: flex;
      align-items: center;
      flex-direction: column;
      .logoFooter {
    
        margin-left: 0;
        height: 47px;
        width: 56px;
        
        .logoFooter p{
          // font-family: L;
        }
      
      } 
    }


}
