.loginbox {   
    display: grid;
    width: 80%;
    margin: 0 auto 0;
    .text {
        .title{
            text-align: center;
            font-weight: bold;
            margin: 0 auto 0;
            margin-bottom: 0px; 
        }      
        .insira {    
            text-align: center;
            margin: 6px auto 0; 
        }
    }
    .form{
        text-align: center;
        .labelUser {
            display: flex;
            text-align: left;
        }
        .labelSenha {
            display: flex;
            text-align: left;
        }
        .inputUser {
            margin: 3px 0 12px;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border-style: solid;
            border-color: #2E75B6;
            border-width: 1px;
        }
        .inputSenha {
            margin: 3px 0 12px;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border-style: solid;
            border-color: #2E75B6;
            border-width: 1px;
        }
        .btnEntrar {
            margin: 5px auto 0;
            width: 100%;
            height: 40px;
            background-color: #2E75B6;
            color: #FFF;
            border-radius: 10px;
            border-style: solid;
        }
        .textEnd {
            margin: 25px 0 0 0;
        }
    }
}
