@import "../../variaveis.scss";

.principal {
  h1 {
    font-size: 16px;
    padding: 25px 0;
    margin: 0px;

    span {
      color: $color;
    }
  }

  .conteudo {
    display: flex;
    flex-direction: row;

    form {
      width: 100%;
    }
    .conteudoSection {
      margin: 0 0 20px 0px;

      .filtroClientes {
        .filtro {
          border-radius: 10px;
          width: 100%;

          .header {
            border-radius: 10px 10px 0px 0px;
            background: #262626;
            padding: 18px 20px;
            color: #ffff;
            font-size: 18px;
            font-weight: bold;
          }
          .body {
            padding: 0px 20px;

            .rowInputs {
              label {
                margin: 10px 0;
                font-size: 14px;
              }

              input {
                display: block;
                border: 1px solid $color;
                border-radius: 10px;
                font-size: 14px;
                height: 35px;
                width: 100%;
                padding: 5px;
              }

              button {
                border-radius: 10px;
                width: 100%;
                height: 35px;
                font-size: 14px;
                padding: 4px 8px;
                margin: 40px 0;
                background-color: $color;
              }

              .calendario {
                border: 1px solid $color;
                width: 100%;
                height: 35px;
                font-size: 14px;
                padding: 4px 8px;
              }
            }
          }
        }
      }

      .listaClientes {
        margin: 20px 0 0 0 ;
        .header {
          border-radius: 10px 10px 0px 0px;
          background: #262626;
          color: #ffff;
          font-size: 18px;
          font-weight: bold;
          padding: 18px 20px;
          margin: 0;
        }

        .tabela {
          padding: 0 20px;
          background: white;
          border-radius: 0 0 10px 10px;
          table {
            width: 100%;
          }

          th {
            padding: 15px 0;
            text-align: center;
            color: $color;
            border-bottom: 1px solid rgba(151, 186, 219, 0.5);
            font-size: 14px;
            .setas {
              margin: 0 0 0 7px;
              .setaCima {
                vertical-align: text-top;
                font-size: 7px;
              }
              .setaBaixo {
                vertical-align: text-bottom;
                font-size: 7px;
              }
            }
          }
          tr {
            text-align: center;
            td {
              font-size: 14px;
              padding: 15px 0;
            }
          }
        }
      }

      .btnVoltar{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0px;
        

        button{
          border-radius: 10px;
          font-size: 14px;
          width: 150px;
          height: 40px;
          background-color: $color;
        }
      
      }
    }

    .conteudoAside {
      float: left;
      clear: both;
      margin: 0 20px 0 0;
    }
  }
}
