    h1 {
      font-size: 18px;
      padding: 25px 0;
      margin: 0px;
    }
  
    .conteudo {
      display: flex;
      flex-direction: row;
  
      .conteudoSection {
        margin: 0 0 20px 0;

        .listaUsuarios {
          border-radius: 10px;
          width: 820px;

          .headerLista {
            border-radius: 10px 10px 0px 0px;
            background: #262626;
            padding: 18px 20px;
            color: #ffff;
            font-size: 18px;
            font-weight: bold;
          }

          .bodyListaUsuarios {
            padding: 18px 20px;
            background: #ffff;

            table {
              width: 100%;
            }
            th{
              padding: 15px 0;
              color: #2E75B4;
              border-bottom: 1px solid rgba(151,186 ,219, 0.5) ;
              font-size: 16px;
              .setas{
                  margin: 0 0 0 7px;
                  .setaCima{
                      vertical-align: text-top;
                      font-size: 7px;
                     
                  }
                  .setaBaixo{
                      vertical-align: text-bottom;
                      font-size: 7px;
                  }
              }
              
            }
            tr{
              td{
                  font-size: 16px;
                  padding: 15px 0;
              }
            }
            .editar {
              color: #2E75B4;
            }
            .btnEditar {
              border-style: unset;
              background: white;
              outline: none;
            }
          }
        }
      }
  
      .conteudoAside {
        float: right;
        clear: both;
        margin: 0 20px 20px 0;
  
        .usuarios {
          border-radius: 10px;
          width: 230px;
  
          .headerUsuarios {
            border-radius: 10px 10px 0px 0px;
            background: #262626;
            padding: 18px 20px;
            color: #ffff;
            font-size: 18px;
            font-weight: bold;
          }
  
          .bodyCadastroUsuarios {
            padding: 18px 20px;
            display: flex;
            justify-content: center;
  
            .button {
              border: 1px solid #ced4da;
              border-radius: 10px;
              width: 120px;
              height: 110px;
              box-shadow: 0 2px 5px 0 rgba(38, 38, 38, 0.25);
              cursor: pointer;
              padding: 10px;
              margin: 10px 0px;
  
              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 5px 0;
                font-size: 30px;
              }
  
              .desc {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
  
                span {
                  font-size: 12px;
                  color: #2e75b4;
                }
              }
            }
          }
        }
      }
    }
  