@import "../../variaveis.scss";
.principal {
  h1 {
    font-size: 18px;
    padding: 25px 0;
    margin: 0px;
  }

  .conteudo {
    display: flex;
    flex-direction: row;

    .conteudoSection {
      margin: 0 0 20px 0;

      .novoUsuario {
        border-radius: 10px;
        width: 820px;

        .headerNovoUsuario {
          border-radius: 10px 10px 0px 0px;
          background: #262626;
          padding: 18px 20px;
          color: #ffff;
          font-size: 18px;
          font-weight: bold;
        }

        .bodyNovoUsuario {
          padding: 18px 20px;

          .rowInputs {
            label {
              margin: 10px 0;
              font-size: 16px;
            }

            input {
              display: block;
              border: 1px solid $color;
              border-radius: 10px;
              font-size: 14px;
              height: 35px;
              width: 100%;
              padding: 5px;
              color:$color;
              outline: none;
            }

            .calendario {
              border: 1px solid $color;
              width: 100%;
              height: 35px;
              font-size: 14px;
              padding: 4px 8px;
            }

            .msgError {
              margin: 5px 0px;
              color: red;
              font-size: 10px;
              font-style: italic;
            }
            .arrow {
              color: #2e75b4;
              display: flex;
            }
            span {
              font-size: 14px;
              color: red;
            }
            .buttons {
              display: flex;
              justify-content: space-around;
              align-items: flex-end;
              padding: 0px;
              margin: 0px;
  
              button {
                border-radius: 10px;
                width: 172px;
                height: 35px;
                padding: 0px;
              }
            }
          }
        }
      }
    }

    .conteudoAside {
      float: right;
      clear: both;
      margin: 0 20px 20px;

      .usuarios {
        border-radius: 10px;
        width: 230px;

        .headerUsuarios {
          border-radius: 10px 10px 0px 0px;
          background: #262626;
          padding: 18px 20px;
          color: #ffff;
          font-size: 18px;
          font-weight: bold;
        }

        .bodyListagemUsuarios {
          padding: 18px 20px;
          display: flex;
          justify-content: center;

          .button {
            border: 1px solid #ced4da;
            border-radius: 10px;
            width: 120px;
            height: 110px;
            box-shadow: 0 2px 5px 0 rgba(38, 38, 38, 0.25);
            cursor: pointer;
            padding: 10px;
            margin: 10px 0px;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 0 5px 0;
              font-size: 30px;
            }

            .desc {
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                font-size: 12px;
                color: #2e75b4;
              }
            }
          }
        }
      }
    }
  }
}
