.icon-pesquisa {
  width: 14px;
  height: 14px;
  margin: 0 5px 12px 0;
}

.icon-sino {
  color: #2e75b4;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}

.icon-logoff {
  color: #2e75b4;
  width: 25px;
  height: 25px;
  margin: 0 10px 0  0;
}
